h1 {
    color: black;
}
.c{
    font-family: florence,cursive;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(43, 43, 9);
    border-style: dashed;
    border-width: 2px;
    border-color: gray;
}
.c6{
    font-family: florence,cursive;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(43, 43, 9);
    border-style: dashed;
    border-width: 2px;
    border-color: gray;
}